{% extends "base.html" %}

{% block content %}
  <h2>Оформление каюты</h2>
  <table>
      <thead>
          <tr>
              <th>
                  <h2>Цвет Стен</h2>
              </th>
              <th>
                  <h2>Эмблема</h2>
              </th>
          </tr>
      </thead>
      <tbody>
          <tr>
              {% if sex == 'male' and age > 20 %}
                {% set th_color = '#1580ed' %}
              {% elif sex == 'male' and age < 21 %}
                {% set th_color = '#b1c4dd' %}
              {% elif sex == 'female' and age > 20 %}
                {% set th_color = '#fd4219' %}
              {% else %}
                {% set th_color = '#fd9f7d' %}
              {% endif %}
              <th style="background-color: {{ th_color }}"></th>
              <th>
                  {% if age < 21 %}
                    <img src="/static/img/kid.png">
                  {% else %}
                    <img src="/static/img/adult.png">
                  {% endif %}
              </th>
          </tr>
      </tbody>
  </table>
{% endblock %}